.front-container {
  h1 {
    color: $blackLivesMatter;
    font-size: 30px;
    line-height: 2;
    font-weight: bold;
    background-color: red;
  }
  div {
    display: block;
    width: 200px;
    height: 300px;
    border: 2px dotted $orangePartyGirl_69;
  }
  .purple {
    color: purple;
  }
}
